<dom-module id="list-page">
    <template>
        <style>
            :host {
                display: none;
            }

            :host([active]) {
                display: block;
            }
        </style>

        <p>List</p>
        <p>{{category}}</p>
    </template>

    <script>
        (function () {
            'use strict';

            class ListPage {
                beforeRegister() {
                    this.is = 'list-page';
                    this.properties = {
                        active: {
                            type: Boolean,
                            value: false,
                            reflectToAttribute: true
                        }
                    };
                }
            }

            Polymer(ListPage);
        })();
    </script>
</dom-module>