<link rel="import" href="../bower_components/polymer/polymer.html">

<dom-module id="test-element">
    <template>
        <style>

        </style>

        <p>Pouli</p>
        <p>Blabla</p>
    </template>

    <script>
        (function () {
            'use strict';

            class Test {
                beforeRegister() {
                    this.is = 'test-element';
                    this.properties = {};
                }

                ready() {
                    console.log('Plop');
                }
            }

            Polymer(Test);
        })();
    </script>
</dom-module>